{% extends 'base.html.twig' %}

{% block body %}


    <div class="centered-content">
        <div>
            <h2 class="text-2xl font-bold text-center text-black-500 mtop2">{{ label }}</h2>
        </div>
        <div style="width: 60%" class="divChampsForm">
            {{ form_start(form) }}

            <div>
                <div class="divSeparator">
                    <div class="inputSeparator">
                        {{ form_label(form.mode ) }}
                    </div>

                    <div>
                        {{ form_widget(form.mode ) }}
                    </div>
                </div>

                <div>
                    {{ form_errors(form.mode ) }}
                </div>
            </div>

        </div>
        {{ form_end(form, {'render_rest': false}) }}

        <div class="flex gap-4">
            {% if form.vars.value == null %}
                <button class="bg-orange-900 hover:bg-orange-500 text-white font-bold py-2 px-4 rounded nombot2" onClick="startProduction()"> Démarrer
                </button>
            {% else %}
                <button class="bg-red-500 text-white font-bold py-2 px-4 rounded"
                    onClick="endProduction()"> Arreter
                </button>
                <button class="bg-gray-500 text-white font-bold py-2 px-4 rounded">
                    Commentaire
                </button>
            {% endif %}
        </div>
        <div class="mt-10" id="productionInfoDiv">
            {% if form.vars.value != null %}
            <p>Commencé depuis {{form.vars.value.startedAt|date("d/m/Y h:i:s")}}</p>

            {% endif %}
        </div>
    </div>
{% endblock  %}

{% block javascripts %}
    <script>
        let verifArticle = true;
        let idArticle = null ;

        function endProduction() {
            productionId = "{{productionId}}"
            window.location.href = `/agregat/concassage/saisie/pelle?id=${productionId}`;
        }

        async function startProduction() {
            let url = "{{ url }}"
            let fullUrl = `${url}/start`
            idArticle = document.getElementById('agregat_concassage_production_pelle_mode').value

            if (!idArticle ) {
                alert('Veuillez choisir un article parmi la liste déroulante !!')
            } else {
                const response = await fetch(fullUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'idArticle': idArticle
                    })
                })
                
                window.location.href = url
            }
        }

    </script>
{% endblock %}

{% block title %}
    Saisie Production | Pelle Concassage
{% endblock %}