{% extends 'base.html.twig' %}

{% block title %}Formulaire Consommation Machine{% endblock %}

{% block body %}
    <div>
        <a href="/">
            <svg class="pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50" height="50"
                 fill="none" stroke="currentColor" stroke-width="1.5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
            </svg>
        </a>
    </div>

    <div class="centered-content">
        <div class="my-2">
            <h2 class="text-2xl font-bold text-center text-black-500">{{ label }}</h2>
        </div>

        <div class="max-w-sm mx-auto">
            {{ form_start(consoForm) }}

            <div class="mb-5">
                <div style="display: flex" class="divSeparator">
                    <div class="inputSeparator">
                        {{ form_label(consoForm.machine) }}
                    </div>
                    <div>
                        {{ form_widget(consoForm.machine) }}
                    </div>
                </div>
                <div>
                    {{ form_errors(consoForm.machine) }}
                </div>
            </div>

            <div class="mb-5">
                <div style="display: flex" class="divSeparator">
                    <div class="inputSeparator">
                        {{ form_label(consoForm.quantite) }}
                    </div>
                    <div>
                        {{ form_widget(consoForm.quantite) }}
                    </div>
                </div>
                <div>
                    {{ form_errors(consoForm.quantite) }}
                </div>
            </div>

            <div class="mb-5">
                <div>
                    {{ form_row(consoForm.valider) }}
                </div>

            </div>
            {{ form_end(consoForm) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('scripts/camera.js') }}"></script>
    <script>
        // const typeSelect = document.querySelector('select[name="consommation_machine[type]"]');
        // const machineSelect = document.querySelector('select[name="consommation_machine[label]"]');

        {#        typeSelect.addEventListener('change', function() {#}
        {#            const type = this.value;#}

        {#            fetch(`{{ path('machine_by_type') }}?type=${type}`)#}
        {#                .then(response => response.json())#}
        {#                .then(data => {#}
        {#                    machineSelect.innerHTML = '';#}

        {#                    data.forEach(item => {#}
        {#                        const option = document.createElement('option');#}
        {#                        option.value = item.id;#}
        {#                        option.text = item.name;#}
        {#                        machineSelect.appendChild(option);#}
        {#                    });#}
        {#                });#}
        {#        });#}
    </script>
{% endblock %}