{% extends 'base.html.twig' %}

{% block title %}Formulaire Consommation Machine{% endblock %}

{% block body %}
    <div class="centered-content">
        <div class="my-2">
            <h2 class="text-2xl font-bold text-center text-black-500">{{ label }}</h2>
        </div>

        <div class="max-w-sm mx-auto">
            {{ form_start(consoForm) }}

            <div class="mb-5">
                <div style="display: flex" class="divSeparator">
                    <div class="inputSeparator">
                        {{ form_label(consoForm.machine) }}
                    </div>
                    <div>
                        {{ form_widget(consoForm.machine) }}
                    </div>
                </div>
                <div>
                    {{ form_errors(consoForm.machine) }}
                </div>
            </div>

            <div class="mb-5">
                <div style="display: flex" class="divSeparator">
                    <div class="inputSeparator">
                        {{ form_label(consoForm.quantite) }}
                    </div>
                    <div>
                        {{ form_widget(consoForm.quantite) }}
                    </div>
                </div>
                <div>
                    {{ form_errors(consoForm.quantite) }}
                </div>
            </div>

            <div class="mb-5">
                <div style="display: flex" class="divSeparator">
                    <div class="inputSeparator">
                        {{ form_label(consoForm.photoCompteurCarburant) }}
                    </div>
                    <div>
                        {{ form_widget(consoForm.photoCompteurCarburant) }}
                    </div>
                </div>
                <div>
                    {{ form_errors(consoForm.photoCompteurCarburant) }}
                </div>
            </div>

            <div class="mb-5">
                <button id="afficherPhoto" type="button" class="px-3 py-2 text-sm me-2 mb-2 font-medium text-center inline-flex items-center text-white bg-amber-800 rounded-lg hover:bg-blue-800 dark:bg-slate-500 dark:hover:bg-slate-700 ">
                            <svg xmlns="http://www.w3.org/2000/svg" style="width: 40px ; height: 30px" viewBox="0 0 512 512"><path d="M149.1 64.8L138.7 96H64C28.7 96 0 124.7 0 160V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H373.3L362.9 64.8C356.4 45.2 338.1 32 317.4 32H194.6c-20.7 0-39 13.2-45.5 32.8zM256 192a96 96 0 1 1 0 192 96 96 0 1 1 0-192z"/></svg>
                </button>
                <button id="masquerPhoto"  style="display: none" type="button" class="px-3 py-2 text-sm me-2 mb-2 font-medium text-center inline-flex items-center text-white bg-amber-800 rounded-lg hover:bg-blue-800 dark:bg-slate-500 dark:hover:bg-slate-700 ">
                    <svg xmlns="http://www.w3.org/2000/svg" style="width: 40px ; height: 30px; " viewBox="0 0 640 512"><path d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L525.6 386.7c39.6-40.6 66.4-86.1 79.9-118.4c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C465.5 68.8 400.8 32 320 32c-68.2 0-125 26.3-169.3 60.8L38.8 5.1zM223.1 149.5C248.6 126.2 282.7 112 320 112c79.5 0 144 64.5 144 144c0 24.9-6.3 48.3-17.4 68.7L408 294.5c8.4-19.3 10.6-41.4 4.8-63.3c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3c0 10.2-2.4 19.8-6.6 28.3l-90.3-70.8zM373 389.9c-16.4 6.5-34.3 10.1-53 10.1c-79.5 0-144-64.5-144-144c0-6.9 .5-13.6 1.4-20.2L83.1 161.5C60.3 191.2 44 220.8 34.5 243.7c-3.3 7.9-3.3 16.7 0 24.6c14.9 35.7 46.2 87.7 93 131.1C174.5 443.2 239.2 480 320 480c47.8 0 89.9-12.9 126.2-32.5L373 389.9z"/></svg>
                </button>

                 <div id="divPhotoBon"></div>
                <div id="divUpload2"></div>
            </div>
            
            {{ form_end(consoForm) }}
            
        </div>
    </div>
    <dialog id="modalConfirmationPhoto" style="display: none"></dialog>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('scripts/CameraClass.js') }}"></script>


    <script>

        // Au chargement de la page, on appelle les event listener
        window.onload = () => {
            const boutonAfficherDivPhoto = document.getElementById('afficherPhoto');
            const boutonMasquerDivPhoto = document.getElementById('masquerPhoto');
            const divPhoto = document.getElementById('divPhotoBon');
            const divPhotoTablette = document.getElementById('divUpload2');
            const divModal = document.getElementById('modalConfirmationPhoto');
            const urlFetch = "/consommation/essence/upload_photo"
            const consoEssenceId = "{{consoEssenceId}}"
            console.log(consoEssenceId)

            const camera = new CameraClass( boutonAfficherDivPhoto , boutonMasquerDivPhoto , divPhoto , divPhotoTablette, divModal, urlFetch );
            camera.init();
            camera.formData.append( 'idConsoEssence' , consoEssenceId );

        }


    </script>
{% endblock %}