{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <a href="/">
            <svg class="pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50" height="50"
                 fill="none" stroke="currentColor" stroke-width="1.5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
            </svg>
        </a>
    </div>

    <div class="centered-content" style="width: 100rem">
        <div class="my-2">
            <h2 class="text-2xl font-bold text-center text-black-500">Formulaires identification prestation</h2>
        </div>
        <table style="width: 100rem">
            <tr>
                <th>Id Formulaire</th>
                <th>Société</th>
                <th>Prénom / Nom</th>
                <th>Prestation</th>
                <th>Commanditaire</th>
                <th>Heure Arrivée</th>
                <th>Heure Départ</th>
            </tr>

            {% for formulaire in formulairesIdentificationPrestation %}
                <tr>
                    {% if formulaire.heureDepart is null %}
                    <td><a style="color: blue ; text-decoration: underline" href="{{ path('app_identification_prestation_validate' , { 'id' : formulaire.id }) }}">{{ formulaire.id }}</a></td>
                    {% else %}
                    <td>{{ formulaire.id }}</td>
                    {% endif %}
                    <td>{{ formulaire.societe }}</td>
                    <td>{{ formulaire.nomPrenom }}</td>
                    <td>{{ formulaire.prestation }}</td>
                    <td>{{ formulaire.commanditaire }}</td>
                    <td>{{ formulaire.heureArrivee | date ('Y-m-d H:i:s') }}</td>
                    <td>
                        {% if formulaire.heureDepart is not null %}
                            {{ formulaire.heureDepart | date ('Y-m-d H:i:s') }}
                        {% else %}
                            Non renseigné
                        {% endif %}
                    </td>
                    <td>
                        <a style="color: blue ; text-decoration: underline" href="{{ path('app_identification_prestation_pdf' , { id : formulaire.id }) }}">PDF</a>
                    </td>
                    <td>
                        <a style="color: blue ; text-decoration: underline" href="{{ path('app_identification_prestation_sign' , { id : formulaire.id }) }}">Envoyer à Signer</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br>

        <div>
            <a href="{{ path('app_identification_prestation_create') }}"><button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Créer un formulaire</button></a>
        </div>
    </div>
{% endblock %}

{% block title %}
Formulaires Identification Prestation
{% endblock %}

