{% extends 'base.html.twig' %}
{% block body %}


    {% if identificationPrestation is defined %}
        <div class="centered-content" id="divIdentificationPrestation">
            <div class="my-2" id="test">
                <h2 class="text-2xl font-bold text-center text-black-500">Identification Prestation</h2>
            </div>
            <div class="max-w-sm mx-auto" id="divInfosIdentificationPrestation">
                <div class="mb-5">
                    <div style="display: flex ; justify-content: space-between" class="divSeparator">
                        <strong>Société : </strong> <span>{{ identificationPrestation.societe }}</span>
                    </div>
                </div>
                <div class="mb-5">
                    <div style="display: flex; justify-content: space-between" class="divSeparator">
                        <strong>Nom / Prénom : </strong> <span>{{ identificationPrestation.nomPrenom }}</span>
                    </div>
                </div>
                <div class="mb-5">
                    <div style="display: flex; justify-content: space-between" class="divSeparator">
                        <strong>Prestation : </strong> <span>{{ identificationPrestation.prestation }}</span>
                    </div>
                </div>
                <div class="mb-5">
                    <div style="display: flex; justify-content: space-between" class="divSeparator">
                        <strong>Site : </strong> <span>{{ identificationPrestation.site.nom }}</span>
                    </div>
                </div>
                <div class="mb-5">
                    <div style="display: flex; justify-content: space-between" class="divSeparator">
                        <strong>Commanditaire : </strong> <span>{{ identificationPrestation.commanditaire }}</span>
                    </div>
                </div>
                <div class="mb-5">
                    <div style="display: flex; justify-content: space-between" class="divSeparator">
                        <strong>Arrivé le, à : </strong> <span>{{ identificationPrestation.heureArrivee | date ('Y-m-d H:i:s' , 'Indian/Reunion' ) }}</span>
                    </div>
                </div>

                <input type="text" id="idPrestationDiv" value="{{ identificationPrestation.id }}" style="display: none">
                <input type="text" id="validationSignature" value="false" style="display: none">
                <input type="text" id="validationPhoto" value="false" style="display: none">
                <input type="text" id="validationUpload" value="false" style="display: none">


                <div class="mb-5" id="divSignature">
                    <canvas id="signature" width="300" height="100"></canvas>
                    <div id="divBoutonsIdentificationPrestation">
                        <button id="effacerSignature" type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Effacer</button>
                        <button id="enregistrerSignature" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Enregistrer</button>
                        <button id="afficherPhoto" type="button" class="px-3 py-2 text-sm me-2 mb-2 font-medium text-center inline-flex items-center text-white bg-amber-800 rounded-lg hover:bg-blue-800 dark:bg-slate-500 dark:hover:bg-slate-700 ">
                            <svg xmlns="http://www.w3.org/2000/svg" style="width: 40px ; height: 30px" viewBox="0 0 512 512"><path d="M149.1 64.8L138.7 96H64C28.7 96 0 124.7 0 160V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H373.3L362.9 64.8C356.4 45.2 338.1 32 317.4 32H194.6c-20.7 0-39 13.2-45.5 32.8zM256 192a96 96 0 1 1 0 192 96 96 0 1 1 0-192z"/></svg>
                        </button>
                        <button id="masquerPhoto"  style="display: none" type="button" class="px-3 py-2 text-sm me-2 mb-2 font-medium text-center inline-flex items-center text-white bg-amber-800 rounded-lg hover:bg-blue-800 dark:bg-slate-500 dark:hover:bg-slate-700 ">
                            <svg xmlns="http://www.w3.org/2000/svg" style="width: 40px ; height: 30px; " viewBox="0 0 640 512"><path d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L525.6 386.7c39.6-40.6 66.4-86.1 79.9-118.4c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C465.5 68.8 400.8 32 320 32c-68.2 0-125 26.3-169.3 60.8L38.8 5.1zM223.1 149.5C248.6 126.2 282.7 112 320 112c79.5 0 144 64.5 144 144c0 24.9-6.3 48.3-17.4 68.7L408 294.5c8.4-19.3 10.6-41.4 4.8-63.3c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3c0 10.2-2.4 19.8-6.6 28.3l-90.3-70.8zM373 389.9c-16.4 6.5-34.3 10.1-53 10.1c-79.5 0-144-64.5-144-144c0-6.9 .5-13.6 1.4-20.2L83.1 161.5C60.3 191.2 44 220.8 34.5 243.7c-3.3 7.9-3.3 16.7 0 24.6c14.9 35.7 46.2 87.7 93 131.1C174.5 443.2 239.2 480 320 480c47.8 0 89.9-12.9 126.2-32.5L373 389.9z"/></svg>
                        </button>
                    </div>
                </div>

                <div id="divPhotoBon">
                    <video id="video" width="540" height="380" style="border: 3px solid black ; border-radius: 10px ; margin: 10px; display: none" autoplay></video>
                    <div class="divBoutonsPhotos">
                        <button id="snap" style="display:none;" class="px-3 py-2 text-sm me-2 mb-2 font-medium text-center inline-flex items-center text-white bg-amber-800 rounded-lg hover:bg-blue-800 dark:bg-slate-500 dark:hover:bg-slate-700 " >Prendre une photo</button>
                    </div>
                    <div id="divUpload">
                        <input id="fileInput" style="height: 1.5rem" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-orange-100 dark:border-gray-600 dark:placeholder-gray-400" type="file">
                        <button class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900" id="uploadFromDevice">Envoyer</button>
                    </div>
                </div>


                <div id="divUpload2">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Upload file</label>
                    <input id="fileInput2" class="block text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-black focus:outline-none dark:bg-orange-100 dark:border-black dark:placeholder-black" type="file">
                    <button id="uploadFromDevice2" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900">Envoyer</button>
                </div>

            </div>

            <div>
                <a style="display: none" id="registerIdentification" onclick="return confirm('Êtes vous sûr que la prestation est terminée ?')" href="{{ path('app_identification_prestation_validate' , { 'id' : identificationPrestation.id })  }}"><button class="hover:bg-orange-900 bg-orange-900 dark:hover:bg-orange-500 text-white font-bold py-2 px-4 rounded">Valider formulaire ?</button></a>
            </div>
        </div>




        <!-- MODAL CONFIRMATION SIGNATURE  -->

        <dialog id="modalConfirmationSignatureIdentificationPrestation" class="modalConfirmation">
            <p>Êtes vous sûr de garder cette signature ?</p>
            <div id="divBoutonsModaleConfirmationIdentificationPrestation">
                <button class="px-3 py-2 text-xs font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800" id="cancelModalButton">Annuler</button>
                <button class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" id="confirmModalButton">Confirmer</button>
            </div>

        </dialog>

        <!-- MODAL CONFIRMATION  -->



        <!-- MODAL CONFIRMATION PHOTO  -->

        {% include 'includes/_modalPhotoConfirmation.html.twig' %}


        <!-- MODAL CONFIRMATION -->

    {% else %}
        <div class="centered-content">
            <div class="my-2" style="margin-top:2rem">
                <h2 class="text-2xl font-bold text-center text-black-500">Formulaire identification prestation</h2>
            </div>
            <div class="mx-auto" style="width: 90%">
                {{ form_start(identificationPrestationForm) }}
                <div id="labelsInput">
                    <div class="mb-5">
                        <div style="display: flex" class="divSeparator">
                            <div class="inputSeparator">
                                {{ form_label(identificationPrestationForm.societe) }}
                            </div>
                            <div>
                                {{ form_widget(identificationPrestationForm.societe) }}
                            </div>
                        </div>
                        <div>
                            {{ form_errors(identificationPrestationForm.societe) }}
                        </div>
                    </div>
                    <div class="mb-5">
                        <div style="display: flex" class="divSeparator">
                            <div class="inputSeparator">
                                {{ form_label(identificationPrestationForm.nomPrenom) }}
                            </div>
                            <div>
                                {{ form_widget(identificationPrestationForm.nomPrenom) }}
                            </div>
                        </div>
                        <div>
                            {{ form_errors(identificationPrestationForm.nomPrenom) }}
                        </div>
                    </div>
                    <div class="mb-5">
                        <div style="display: flex" class="divSeparator">
                            <div class="inputSeparator">
                                {{ form_label(identificationPrestationForm.prestation) }}
                            </div>
                            <div>
                                {{ form_widget(identificationPrestationForm.prestation) }}
                            </div>
                        </div>
                        <div>
                            {{ form_errors(identificationPrestationForm.prestation) }}
                        </div>
                    </div>
                    <div class="mb-5">
                        <div style="display: flex" class="divSeparator">
                            <div class="inputSeparator">
                                {{ form_label(identificationPrestationForm.site) }}
                            </div>
                            <div>
                                {{ form_widget(identificationPrestationForm.site) }}
                            </div>
                        </div>
                        <div>
                            {{ form_errors(identificationPrestationForm.site) }}
                        </div>
                    </div>
                    <div class="mb-5">
                        <div style="display: flex" class="divSeparator">
                            <div class="inputSeparator">
                                {{ form_label(identificationPrestationForm.commanditaire) }}
                            </div>
                            <div>
                                {{ form_widget(identificationPrestationForm.commanditaire) }}
                            </div>
                        </div>
                        <div>
                            {{ form_errors(identificationPrestationForm.commanditaire) }}
                        </div>
                    </div>
                </div>
                <div>
                    {{ form_row( identificationPrestationForm.save) }}
                </div>

                {{ form_end(identificationPrestationForm) }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block title %}
    Formulaire | Identification | Prestation
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('scripts/Signature.js') }}"></script>
    <script src="{{ asset('scripts/camera.js') }}"></script>

    <script>
        //On a chargé en premier la classe Signature juste au dessus, et maintenant, au chargement de la page, on appelle les event listener
        window.onload = () => {
            const canvas = new Signature("#signature")
            const idPrestationDiv = document.getElementById('idPrestationDiv');
            const idPrestation = idPrestationDiv.value;
            const confirmModal = document.getElementById('modalConfirmationSignatureIdentificationPrestation');
            const confirmModalTrue = document.getElementById('confirmModalButton');
            const confirmModalFalse = document.getElementById('cancelModalButton');
            const boolSignature = document.getElementById('validationSignature');
            const boolPhoto = document.getElementById('validationPhoto');
            const boolUpload = document.getElementById('validationUpload');
            const registerIdentification = document.getElementById('registerIdentification');
            const uploadPic = document.getElementById('uploadFromDevice');
            const fileInput = document.getElementById('fileInput');
            const uploadPic2 = document.getElementById('uploadFromDevice2');
            const fileInput2 = document.getElementById('fileInput2');


            document.querySelector('#effacerSignature').addEventListener( 'click' , ( event ) => {
                //Le preventDefault permet d'éviter que le lien s'active
                event.preventDefault();
                canvas.effacer()
            })

            document.querySelector('#enregistrerSignature').addEventListener( 'click' , ( event ) => {
                event.preventDefault();
                confirmModal.showModal();

                confirmModalTrue.addEventListener( "click", () => {
                    confirmModal.close();

                    //On prépare les data à envoyer via le fetch
                    let data = {
                        image : canvas.genererImg(),
                        idPrestation : idPrestation
                    }

                    fetch('/identification_prestation/sign' , {
                        method : "POST" ,
                        body : JSON.stringify( data )
                    }).then((response ) => {
                        console.log(response);
                        //Vérification double
                        boolSignature.value = 'true' ;
                        if ( boolPhoto.value === 'true' || boolUpload.value === 'true') {
                            registerIdentification.style.display = 'block';
                        }
                    })
                })

                confirmModalFalse.addEventListener('click' , () => {
                    confirmModal.close();
                })
            })


            function uploadFile ( nomBouton, nomFileInput ) {
                nomBouton.addEventListener( 'click' , function() {
                    const file = nomFileInput.files[0];

                    if ( file ) {
                        const formData = new FormData();
                        formData.append('photo2' , file );
                        formData.append('idPrestation' , idPrestation )

                        fetch('/identification_prestation/upload_photo' , {
                            method : 'POST' ,
                            body : formData
                        })
                            .then( response => response.json())
                            .then( data => {
                                alert( 'Photo envoyée avec succès !') ;
                                console.log(data);
                                //Vérification double
                                boolUpload.value = 'true' ;
                                if ( boolSignature.value === 'true' ) {
                                    registerIdentification.style.display = 'block';
                                }
                            })
                            .catch( error => {
                                console.error('Erreur lors de l\' envoi du fichier! ');
                            })


                    } else {
                        alert( 'Veuillez séléctionner un fichier !');
                    }
                })
            }
            uploadFile( uploadPic , fileInput );
            uploadFile( uploadPic2 , fileInput2 );
        }
    </script>
{% endblock %}