{% extends 'base.html.twig' %}

{% block title %}
    Agregat | Carrière | Saisie Débit
{% endblock %}


{% block body %}



    <div class="centered-content">
        <div class="my-2">
            <h2 class="text-2xl font-bold text-center text-black-500 mtop2">Agregat Carriere Saisie Débit</h2>
        </div>
        <div>
            {{ form_start(agregatCarriereSaisieDebitForm) }}
            <div class="divChampsForm">
                <div class="mb-5">

                    <div style="display: flex ; justify-content: space-between" class="divSeparator searchContainer" >

                        <label for="{{ field_name(agregatCarriereSaisieDebitForm.article ) }}">Article : </label>
                        <input type="text"
                               id="agregatCarriereSaisieDebit"
                               name="agregatCarriereSaisieDebit"
                               placeholder="Nom de l'article..."
                               autocomplete="off"
                               class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black-600 sm:text-sm sm:leading-6"
                               style="height: 2.3rem ; width: 55%"
                        >
                        <ul id="agregatCarriereSaisieDebitSuggestionsArticle" class="suggestionsArticle"></ul>
                    </div>

                    <div>
                        {{ form_errors(agregatCarriereSaisieDebitForm.article) }}
                    </div>

                </div>
                <div>
                    <div style="display: flex" class="divSeparator">
                        <div class="inputSeparator">
                            {{ form_label(agregatCarriereSaisieDebitForm.quantite) }}
                        </div>
                        <div>
                            {{ form_widget(agregatCarriereSaisieDebitForm.quantite) }}
                        </div>
                    </div>
                    <div>
                        {{ form_errors(agregatCarriereSaisieDebitForm.quantite) }}
                    </div>
                </div>


                <div id="divMinuteur">
                    <div id="minuteur">
                        <span id="minutes">00</span>:<span id="seconds">00</span>
                    </div>

                    <div id="divBoutonsMinuteur">
                        <button type="button" id="startChrono" class="mall1 px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 dark:bg-green-600 dark:hover:bg-green-700 ">Start</button>
                        <button type="button" id="stopChrono" class="mall1 px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 dark:bg-red-600 dark:hover:bg-red-700 ">Stop</button>
                        <button type="button" id="resetChrono" class="mall1 px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 dark:bg-yellow-500 dark:hover:bg-yellow-600 ">Reset</button>
                    </div>
                </div>
            </div>



            <div class="mtop2">
                {{ form_row(agregatCarriereSaisieDebitForm.save ) }}
            </div>

            {{ form_end(agregatCarriereSaisieDebitForm) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('scripts/Autocomplete.js') }}"></script>
    <script src="{{ asset('scripts/functionsEnvoiBack.js') }}"></script>
    <script src="{{ asset('scripts/Minuteur.js') }}"></script>


    <script>
        document.addEventListener('DOMContentLoaded' , function () {
            const suggestions = document.getElementById('agregatCarriereSaisieDebitSuggestionsArticle')
            const searchArticle = document.getElementById('agregatCarriereSaisieDebit');
            const quantiteInput = document.getElementById('carriere_saisie_debit_quantite');
            const boutonEnvoi = document.getElementById('carriere_saisie_debit_save');
            const url = '/article/autocomplete'
            const start = document.getElementById('startChrono');
            const stop = document.getElementById('stopChrono');
            const reset = document.getElementById('resetChrono');
            const minutes = document.getElementById('minutes');
            const seconds = document.getElementById('seconds');


            const autoC = new Autocomplete( searchArticle , suggestions , url );

            document.addEventListener( 'click' , autoC.hideSuggestions );

            boutonEnvoi.addEventListener( 'click' , ( event ) => {
                event.preventDefault();
                let idArticle = autoC.idArticle ;
                let quantite = quantiteInput.value ;

                envoyerDonneesQte( idArticle , quantite );
            })

            const timer = new Minuteur( start , stop , reset , minutes , seconds )
        })

    </script>
{% endblock %}