{% extends 'base.html.twig' %}

{% block body %}



    <div class="centered-content">
        <div class="my-2">
            <h2 class="text-2xl font-bold text-center text-black-500 mtop2">Concassage Saisie pelle</h2>
        </div>
        <div>
            {{ form_start(agregatConcassageSaisiePelleForm) }}
        <div class="divChampsForm">
            <div>
                <div style="display: flex" class="divSeparator">
                    <div class="inputSeparator">
                        {{ form_label(agregatConcassageSaisiePelleForm.typeMateriau) }}
                    </div>
                    <div>
                        {{ form_widget(agregatConcassageSaisiePelleForm.typeMateriau) }}
                    </div>
                </div>
                <div>
                    {{ form_errors(agregatConcassageSaisiePelleForm.typeMateriau) }}
                </div>
            </div>

            <div>
                <div style="display: flex" class="divSeparator">
                    <div class="inputSeparator">
                        {{ form_label(agregatConcassageSaisiePelleForm.quantite) }}
                    </div>
                    <div>
                        {{ form_widget(agregatConcassageSaisiePelleForm.quantite) }}
                    </div>
                </div>
                <div>
                    {{ form_errors(agregatConcassageSaisiePelleForm.quantite) }}
                </div>
            </div>
        </div>
            <div class="mtop2">
                {{ form_row( agregatConcassageSaisiePelleForm.save) }}
            </div>

            {{ form_end(agregatConcassageSaisiePelleForm) }}
        </div>
    </div>
{% endblock %}

{% block title %}
    Agregat | Concassage | Saisie | Pelle
{% endblock %}

