{% extends 'base.html.twig' %}

{% block body %}


    <div class="centered-content">
        <div>
            <img class="mx-auto" src="https://prefabloc.re/wp-content/uploads/2020/08/pfb-logo-horizontal-clr-01.png"
                 alt="" width="300" height="200">
        </div>
        <div class="my-2">
            <h2 class="text-2xl font-bold text-center text-black-500">Exforman Saisie Déstockage</h2>
        </div>
        <div>
            {{ form_start(exformanSaisieDestockageForm) }}
            <div>
                <div style="display: flex" class="divSeparator">
                    <div class="inputSeparator">
                        {{ form_label(exformanSaisieDestockageForm.typeArticle) }}
                    </div>
                    <div>
                        {{ form_widget(exformanSaisieDestockageForm.typeArticle) }}
                    </div>
                </div>
                <div>
                    {{ form_errors(exformanSaisieDestockageForm.typeArticle) }}
                </div>
            </div>
            <div>
                <div style="display: flex" class="divSeparator">
                    <div class="inputSeparator">
                        {{ form_label(exformanSaisieDestockageForm.quantite) }}
                    </div>
                    <div>
                        {{ form_widget(exformanSaisieDestockageForm.quantite) }}
                    </div>
                </div>
                <div>
                    {{ form_errors(exformanSaisieDestockageForm.quantite) }}
                </div>
            </div>
            <div>
                {{ form_row( exformanSaisieDestockageForm.save ) }}
            </div>

            {{ form_end(exformanSaisieDestockageForm) }}
        </div>
    </div>
{% endblock %}

{% block title %}
    Exforman | Saisie | Déstockage
{% endblock %}

