{% extends 'base.html.twig' %}

{% block body %}

    <div class="centered-content">
        <div class="my-2">
            <h2 class="text-2xl font-bold text-center text-black-500 mtop2">Prefabloc Saisie Déclassement</h2>
        </div>
        <div class="mx-auto">
            {{ form_start(prefablocSaisieDeclassementForm) }}
            <div class="divChampsForm">
                <div class="mb-5">
                    <div class="divSeparator searchContainer" >
                        <label for="{{ field_name(prefablocSaisieDeclassementForm.article ) }}">Article : </label>
                        <input type="text"
                               id="prefablocDeclassementInputArticle"
                               name="prefablocDeclassementInputArticle"
                               placeholder="Nom de l'article..."
                               autocomplete="off"
                               class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black-600 sm:text-sm sm:leading-6"
                               style="height: 2rem ; width: 40%"
                        >
                        <ul id="prefablocDeclassementSuggestionsArticle" class="suggestionsArticle"></ul>
                    </div>

                    <div>
                        {{ form_errors(prefablocSaisieDeclassementForm.article) }}
                    </div>
                </div>
                <div class="mb-5">
                    <div style="display: flex" class="divSeparator">
                        <div class="inputSeparator">
                            {{ form_label(prefablocSaisieDeclassementForm.motifDeclassement) }}
                        </div>
                        <div>
                            {{ form_widget(prefablocSaisieDeclassementForm.motifDeclassement) }}
                        </div>
                    </div>
                    <div>
                        {{ form_errors(prefablocSaisieDeclassementForm.motifDeclassement) }}
                    </div>
                </div>
                <div class="mb-5">
                    <div style="display: flex" class="divSeparator">
                        <div class="inputSeparator">
                            {{ form_label(prefablocSaisieDeclassementForm.quantite) }}
                        </div>
                        <div>
                            {{ form_widget(prefablocSaisieDeclassementForm.quantite) }}
                        </div>
                    </div>
                    <div>
                        {{ form_errors(prefablocSaisieDeclassementForm.quantite) }}
                    </div>
                </div>
            </div>

            <div class="mtop2">
                {{ form_row( prefablocSaisieDeclassementForm.save ) }}
            </div>

            {{ form_end(prefablocSaisieDeclassementForm) }}
        </div>
    </div>
{% endblock %}

{% block title %}
    Prefabloc | Saisie | Déclassement
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('scripts/Autocomplete.js') }}"></script>
    <script src="{{ asset('scripts/functionsEnvoiBack.js') }}"></script>

    <script>
        document.addEventListener('DOMContentLoaded' , function () {
            const suggestions = document.getElementById('prefablocDeclassementSuggestionsArticle')
            const searchArticle = document.getElementById('prefablocDeclassementInputArticle');
            const inputMotif = document.getElementById('saisie_declassement_motifDeclassement')
            const quantiteInput = document.getElementById('saisie_declassement_quantite');
            const boutonEnvoi = document.getElementById('saisie_declassement_save');
            const url = '/article/autocomplete'

            const autoC = new Autocomplete( searchArticle , suggestions , url );

            document.addEventListener( 'click' , autoC.hideSuggestions );

            boutonEnvoi.addEventListener( 'click' , ( event ) => {
                event.preventDefault();
                let idArticle = autoC.idArticle ;
                let idMotif = inputMotif.value;
                let qte = quantiteInput.value ;

                envoyerDonneesMotifQte( idArticle , idMotif , qte );
            })
        })

    </script>
{% endblock %}
