{% extends 'base.html.twig' %}

{% block body %}

    <div class="centered-content">
        <div class="my-2">
            <h2 class="text-2xl font-bold text-center text-black-500">Prefabloc Réparation Palette</h2>
        </div>
        <div class="max-w-sm mx-auto">
            {{ form_start(prefablocRepartitionPaletteForm) }}
            <div class="mb-5">
                <div style="display: flex" class="divSeparator">
                    <div class="inputSeparator">
                        {{ form_label(prefablocRepartitionPaletteForm.typePalette) }}
                    </div>
                    <div>
                        {{ form_widget(prefablocRepartitionPaletteForm.typePalette) }}
                    </div>
                </div>
                <div>
                    {{ form_errors(prefablocRepartitionPaletteForm.typePalette) }}
                </div>
            </div>
            <div class="mb-5">
                <div style="display: flex" class="divSeparator">
                    <div class="inputSeparator">
                        {{ form_label(prefablocRepartitionPaletteForm.quantite) }}
                    </div>
                    <div>
                        {{ form_widget(prefablocRepartitionPaletteForm.quantite) }}
                    </div>
                </div>
                <div>
                    {{ form_errors(prefablocRepartitionPaletteForm.quantite) }}
                </div>
            </div>
            <div>
                {{ form_row( prefablocRepartitionPaletteForm.save) }}
            </div>

            {{ form_end(prefablocRepartitionPaletteForm) }}
        </div>
    </div>
{% endblock %}

{% block title %}
    Prefabloc | Saisie | Réparation palette
{% endblock %}

