{% extends 'base.html.twig' %}

{% block body %}

    <div class="centered-content">
        <div>
            <img class="mx-auto" src="https://prefabloc.re/wp-content/uploads/2020/08/pfb-logo-horizontal-clr-01.png"
                 alt="" width="300" height="200" style="margin-top: 2vh">
        </div>
        <div class="my-2">
            <h2 class="text-2xl font-bold text-center text-black-500">Valromex Saisie Déclassement</h2>
        </div>
        <div class="max-w-sm mx-auto">
            {{ form_start(valromexSaisieDeclassementForm) }}
            <div class="mb-5">
                <div style="display: flex" class="divSeparator">
                    <div class="inputSeparator">
                        {{ form_label(valromexSaisieDeclassementForm.article) }}
                    </div>
                    <div>
                        {{ form_widget(valromexSaisieDeclassementForm.article) }}
                    </div>
                </div>
                <div>
                    {{ form_errors(valromexSaisieDeclassementForm.article) }}
                </div>
            </div>
            <div class="mb-5">
                <div style="display: flex" class="divSeparator">
                    <div class="inputSeparator">
                        {{ form_label(valromexSaisieDeclassementForm.motifDeclassement) }}
                    </div>
                    <div>
                        {{ form_widget(valromexSaisieDeclassementForm.motifDeclassement) }}
                    </div>
                </div>
                <div>
                    {{ form_errors(valromexSaisieDeclassementForm.motifDeclassement) }}
                </div>
            </div>
            <div class="mb-5">
                <div style="display: flex" class="divSeparator">
                    <div class="inputSeparator">
                        {{ form_label(valromexSaisieDeclassementForm.quantite) }}
                    </div>
                    <div>
                        {{ form_widget(valromexSaisieDeclassementForm.quantite) }}
                    </div>
                </div>
                <div>
                    {{ form_errors(valromexSaisieDeclassementForm.quantite) }}
                </div>
            </div>
            <div>
                {{ form_row( valromexSaisieDeclassementForm.save) }}
            </div>

            {{ form_end(valromexSaisieDeclassementForm) }}
        </div>
    </div>
{% endblock %}

{% block title %}
    Valromex | Saisie | Déclassement
{% endblock %}

