{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <a href="/">
            <svg class="pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50" height="50"
                 fill="none" stroke="currentColor" stroke-width="1.5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
            </svg>
        </a>
    </div>


    <div class="centered-content">
        <div>
            <img class="mx-auto" src="https://prefabloc.re/wp-content/uploads/2020/08/pfb-logo-horizontal-clr-01.png"
                 alt="" width="300" height="200">
        </div>
        <div class="my-2">
            <h2 class="text-2xl font-bold text-center text-black-500">Valromex Saisie Production</h2>
        </div>
        <div class="max-w-sm mx-auto">
            {{ form_start(valromexSaisieProductionForm) }}
            <div class="mb-5">
                <div style="display: flex" class="divSeparator">
                    <div class="inputSeparator">
                        {{ form_label(valromexSaisieProductionForm.qteArticleProduit) }}
                    </div>
                    <div style="display: flex">
                        {{ form_widget(valromexSaisieProductionForm.qteArticleProduit) }}
                    </div>
                </div>
                <div>
                    {{ form_errors(valromexSaisieProductionForm.qteArticleProduit) }}
                </div>
            </div>
            <div class="mb-5">
                <div style="display: flex" class="divSeparator">
                    <div class="inputSeparator">
                        {{ form_label(valromexSaisieProductionForm.qte04) }}
                    </div>
                    <div>
                        {{ form_widget(valromexSaisieProductionForm.qte04) }}
                    </div>
                </div>
                <div>
                    {{ form_errors(valromexSaisieProductionForm.qte04) }}
                </div>
            </div>
            <div class="mb-5">
                <div style="display: flex" class="divSeparator">
                    <div class="inputSeparator">
                        {{ form_label(valromexSaisieProductionForm.qte610) }}
                    </div>
                    <div>
                        {{ form_widget(valromexSaisieProductionForm.qte610) }}
                    </div>
                </div>
                <div>
                    {{ form_errors(valromexSaisieProductionForm.qte610) }}
                </div>
            </div>
            <div class="mb-5">
                <div style="display: flex" class="divSeparator">
                    <div class="inputSeparator">
                        {{ form_label(valromexSaisieProductionForm.qteCEM) }}
                    </div>
                    <div>
                        {{ form_widget(valromexSaisieProductionForm.qteCEM) }}
                    </div>
                </div>
                <div>
                    {{ form_errors(valromexSaisieProductionForm.qteCEM) }}
                </div>
            </div>
            <div class="mb-5">
                <div style="display: flex" class="divSeparator">
                    <div class="inputSeparator">
                        {{ form_label(valromexSaisieProductionForm.qteAdjuvant) }}
                    </div>
                    <div>
                        {{ form_widget(valromexSaisieProductionForm.qteAdjuvant) }}
                    </div>
                </div>
                <div>
                    {{ form_errors(valromexSaisieProductionForm.qteAdjuvant) }}
                </div>
            </div>
            <div class="mb-5">
                <div style="display: flex" class="divSeparator">
                    <div class="inputSeparator">
                        {{ form_label(valromexSaisieProductionForm.qteHuile) }}
                    </div>
                    <div>
                        {{ form_widget(valromexSaisieProductionForm.qteHuile) }}
                    </div>
                </div>
                <div>
                    {{ form_errors(valromexSaisieProductionForm.qteHuile) }}
                </div>
            </div>
            <div class="mb-5">
                <div style="display: flex" class="divSeparator">
                    <div class="inputSeparator">
                        {{ form_label(valromexSaisieProductionForm.qteEau) }}
                    </div>
                    <div>
                        {{ form_widget(valromexSaisieProductionForm.qteEau) }}
                    </div>
                </div>
                <div>
                    {{ form_errors(valromexSaisieProductionForm.qteEau) }}
                </div>
            </div>
            <div>
                {{ form_row( valromexSaisieProductionForm.save ) }}
            </div>

            {{ form_end(valromexSaisieProductionForm) }}
        </div>
    </div>
{% endblock %}

{% block title %}
    Valromex | Saisie | Production
{% endblock %}

